@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
.apiinfo {
  border: 1px solid lightslategray;
  border-radius: 4px;
}
.apiform {
  border: 1px solid lightslategray;
  border-radius: 4px;
}
.button {
  border: 1px solid lightslategray;
  border-left: 2px solid lightslategray;
}
.info-parameter {
  background: grey;
  border-radius: 8px;
  color: white;
  padding: 3px 7px;
  margin-right: 3px;
}